<svg viewBox="0 0 150 50" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="andy">
  <!-- a -->
  <rect x="10" y="10" width="20" height="10" fill="currentColor" />
  <rect x="0" y="20" width="10" height="20" fill="currentColor" />
  <rect x="20" y="10" width="10" height="30" fill="currentColor" />
  <rect x="0" y="30" width="30" height="10" fill="currentColor" />
  <!-- n -->
  <rect x="40" y="10" width="10" height="30" fill="currentColor" />
  <rect x="40" y="10" width="20" height="10" fill="currentColor" />
  <rect x="60" y="20" width="10" height="20" fill="currentColor" />
  <!-- d -->
  <rect x="100" y="0" width="10" height="40" fill="currentColor" />
  <rect x="80" y="10" width="20" height="10" fill="currentColor" />
  <rect x="80" y="10" width="10" height="30" fill="currentColor" />
  <rect x="80" y="30" width="30" height="10" fill="currentColor" />
  <!-- y -->
  <rect x="120" y="10" width="10" height="20" fill="currentColor" />
  <rect x="120" y="20" width="30" height="10" fill="currentColor" />
  <rect x="140" y="10" width="10" height="30" fill="currentColor" />
  <rect x="120" y="40" width="20" height="10" fill="currentColor" />
</svg>
